<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>登録内容確認画面</title>
<link th:href = "@{/css/common.css}" rel = "stylesheet" type = "text/css">
</head>

<body>

	<div class = "main_container">
	
	<header>MokuKatsu</header>
	
		<div class = "top_msg">
		<h2>以下の内容で登録してもよろしいですか</h2>

				<ul class="register_list">
					<li>
						<label>ユーザー名:</label>
						<h2 th:text="${Name}" class = "input_list"></h2><br></li>
					<li>
					<li>
						<label>ID:</label>
						<h2 th:text="${UserId}" class = "input_list"></h2><br></li>
					<li>
						<label>パスワード:</label>
						<h2 th:text="${Pass}" class = "input_list"></h2><br></li>
					<li>
					<li>
						<label>メールアドレス:</label>
						<h2 th:text="${Mail}" class = "input_list"></h2><br></li>

				</ul>
		</div> <!-- top_msg -->
		
		    <form method = "POST" th:action = "@{/register_comp}" th:object = "${memberBean}">
		    	<input th:field = "*{Name}" type = "hidden">
				<input th:field = "*{UserId}" type = "hidden">
				<input th:field = "*{Pass}" type = "hidden">
				<input th:field = "*{Mail}" type = "hidden">
				<button type = "submit">確定する</button>
				<button><a th:href = "@{/MokuKatsu}">訂正する</a></button>
			</form>

		<footer>gen.Inc</footer>
		    
	</div> <!-- container -->
		    
</body>
</html>