<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>登録完了画面</title>
	<link rel = "stylesheet" type = "text/css" href = "./css/common.css">
	<link rel = "stylesheet" type = "text/css" href = "./css/register.css">
</head>

<body>
	<div class = "container">
		
		<header>MokuKatsu</header>
		
			<div class = "top_msg">
			
				<h1>登録を完了しました</h1>
		
			</div><!-- top_msg -->
	
		<button><a th:href="register.html">トップページへ戻る</button></a>
	
		<footer>gen.Inc</footer>
	
	</div><!-- container -->

</body>
</html>
