<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>登録完了画面</title>
	<link th:href = "@{/css/common.css}" rel = "stylesheet" type = "text/css">
	<link th:href = "@{/css/register.css}" rel = "stylesheet" type = "text/css">
	<link th:href = "@{/css/goal.css}" rel = "stylesheet" type = "text/css">
</head>

<body>
	<div class = "main_container">
		
		<header>MokuKatsu</header>
		
			<div class = "top_msg">
			
				<h1>登録を完了しました</h1>
		
			</div><!-- top_msg -->
	
			<button class="large_btn" onclick="location.href='home'">目標確認画面へ</button></a>
	
		<footer>gen.Inc</footer>
	
	</div><!-- container -->

</body>
</html>
