<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>目標・ステップ一覧画面</title>
	<link rel = "stylesheet" type = "text/css" href = "./css/login.css">
	<link rel = "stylesheet" type = "text/css" href = "./css/common.css">
	<script type="text/javascript" src = "./js/common.js"></script>
</head>

<body>

	<div class = "goal_container">
	
		<header>独学支援システム</header>
			
        <main>
        <div class = "top_msg">
		
			<h2>目標・ステップ一覧</h2>
		        <table border = "3" width = "400" height = "150" align = "center">
	
				<thead><jsp:getProperty name = "StudentName" property = "name" />さんの目標とステップ</thead>
			        <tr><td>登録した月</td><td>登録した週</td><td>週目標</td><td>ステップ1達成(○×)</td><td>ステップ2達成(○×)</td><td>ステップ3達成(○×)</td><td>ステップ4達成(○×)</td><td>ステップ5達成(○×)</td>
					<tr><th></th><td></td><td></td></tr>
					<tr><th></th><td></td><td></td></tr>
					<tr><th></th><td></td><td></td></tr>
					<tr><th></th><td></td><td></td></tr> 
          
          	</table>	
                
                <div class = "check_button">
	                <button class = "check_move"><a href = "Goal_register.jsp">目標・ステップ一覧</button></a>
	                <button class = "check_move"><a href = "Study_start.jsp">学習開始画面へ</button></a>
                </div><!-- check_button -->

            </div> <!-- msg_container -->
            
         <footer>gen.Inc</footer>

        </main>

	</div> <!-- goal_container -->

</body>
</html>