@charset "UTF-8";

/* 全画面共通部分 */
.main_container{
	text-align: center;
	width : 750px ;
	margin : 0 auto ;
}

button{
	background-color: rgb(128, 255, 255);
	border-radius: 10% ;
		cursor : pointer ;
}

a{
	text-decoration: none;
	cursor : pointer ;
}

ul{
	list-style: none;
}


tr{
	text-align: center;
}

table{
	text-align: center;
	border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table tr,table th,table td {
  	border: solid 3px;
	/* vertical-align: middle; */
}
/* ヘッダー部分 */
header{
	margin-top: 20px;
	background-color: blue;
	width: auto;
	height: 100%;
	font-weight: 700;
	font-size: larger;
	color:white;
}

/* フッター部分 */
footer{
	margin-top: 20px;
	background-color: blue;
	width: auto;
	height: 100%;
	font-weight: 700;
	font-size: larger;
	color:white;
}

/* メイン部分 */
.menu_container{
	max-height: 1000px;
}

.top_msg{
	padding-top : 20px ;
	font-weight : bold ;
}

.msg_container{
    max-height: 1000px ;
}

.msg_container h1{
	height : 50% ;
}

/* 下向き矢印 */
.triangle-bottom {
	display: inline-block;
	border-style: solid;
	border-width: 24px 14px 0 14px;
	border-color: #000 transparent transparent transparent;
	margin: 0 auto ;
  }

/* 新規登録,ログイン時ラベル記入部分 */
label{
	width: 150px;
	justify-content: start;
}

.input_list{
	justify-content: end;
}

ul li{
	margin-top: 10px;
	display: flex;
}

.button_area{
	padding: 10px;
}

/* リンクボタン1つ */
.large_btn{
	width : 200px ;
	margin : 0 auto ;
}
/* リンクボタン2つ */
.middle_button{
	display: flex ;
    margin: 0 auto;
    /* background-color: blue; */
	justify-content: space-between ;
    height: 30px;
}

/* リンクボタン3つ */
.small_button{
	display: flex ;
    margin: 0 auto;
    /* background-color: blue; */
	justify-content: space-between ;
    height: 30px;
}
