<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>Goal</servlet-name>
		<servlet-class>Goal</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>Goal_Check</servlet-name>
		<servlet-class>Goal_Check</servlet-class>
    </servlet>
    <servlet>
		<servlet-name>Step_Comp</servlet-name>
		<servlet-class>Step_Comp</servlet-class>
    </servlet>
   
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Goal</servlet-name>
		<url-pattern>/goal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Goal_Check</servlet-name>
		<url-pattern>/goal_check</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Step_Comp</servlet-name>
		<url-pattern>/step_comp</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>Index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>